# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

mongo_data

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore

# Editor directories and files
.vscode/*
!proyect-web/.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?